.home{
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  .logo-home {
    height: 350px;
    width: auto;
    border-radius: 50%;
    position: absolute;
    right: 130px;
    top: 150px;
    box-shadow: 5px 5px 10px #54535a, -5px -5px 22px #b6b5c4;
  }
  .home-box {
    position: absolute;
    top: 170px;
    left: 150px;
  }
  @media screen and (max-width: 1250px) {
    .logo-home {
      right: 70px;
    }
    .home-box {
      left: 70px;
    }
  }

  @media screen and (max-width: 1100px) {
    .logo-home {
      right: 35px;
    }
    .home-box {
      left: 35px;
    }
  }

  @media screen and (max-width: 1050px) {
    .home-box {
      width: 470px;
      height: 230px;

      h1,p{
        padding-left: 25px;
      }

      h1 {
        top: 45px;
        font-size: 32px;
      }
      p {
        top: 65px;
        font-size: 15px;
        width: 90%;
      }
    }
    .logo-home {
      right: 35px;
      height: 285px;
    }
  }

  @media screen and (max-width: 960px) {
    .logo-home {
      height: 200px;
      top: 70px;
      right: 50%;
      transform: translate(50%);
    }
    .home-box {
      height: 230px;
      width: 420px;
      left: 50%;
      top: 320px;
      transform: translate(-50%);
      h1 {
        top: 45px;
        font-size: 32px;
      }
      p {
        top: 65px;
        font-size: 15px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .logo-home {
      height: 160px;
    }
    .home-box {
      height: 170px;
      width: 340px;
      top: 300px;
      h1 {
        font-size: 23px;
      }
      p {
        font-size: 12px;
      }
    }
  }


  @media screen and (max-width: 390px) {
    .logo-home {
      height: 120px;
    }
    .home-box {
      height: 130px;
      width: 230px;
      top: 270px;
      h1,p{
        padding-left: 25px;
      }
      h1 {
        top: 30px;
        font-size: 23px;
      }
      p {
        top: 45px;
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: 300px) {
    .logo-home {
      height: 110px;
    }
    .home-box {
      height: 120px;
      width: 200px;
      top: 250px;
      h1,p{
        padding-left: 18px;
      }
      h1 {
        top: 30px;
        font-size: 18px;
      }
      p {
        top: 45px;
        font-size: 10px;
      }
    }
  }

  @media screen and (max-width: 230px) {
    .logo-home {
      height: 90px;
    }
    .home-box {
      height: 100px;
      width: 170px;
      top: 220px;
      h1,p{
        padding-left: 15px;
      }
      h1 {
        top: 30px;
        font-size: 14px;
      }
      p {
        top: 30px;
        font-size: 8px;
      }
    }
  }

}